html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    max-width: 100%;
}

@import "tailwindcss";
@plugin '@tailwindcss/typography';
@import "../styles/index.css";
